.prism.log
.stdy.log
.tmp/
dist/
terraform-provider-bem

# sandbox character-device artifacts
.bash_profile
.bashrc
.gitconfig
.gitmodules
.idea
.mcp.json
.profile
.ripgreprc
.vscode
.zprofile
.zshrc
